* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #F2F7F8;
}

header {
    padding: 20px 40px 20px 40px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .left-side {
    display: flex;
    align-items: center;
    gap: 2.9em;
}

nav ul {
    display: flex;
    gap: 2em;
    color: #3D4E5F;
    font-weight: 500;
    font-size: 1em;
}

.right-side {
    display: flex;
    gap: 1em;
    align-items: center;
}

.signIn {
    border: 1px solid #122231;
    padding: 15px 20px;
    color: #122231;
    font-size: 1.1em;
    border-radius: 15px;
}

.account {
    background-color: #122231;
    padding: 15px 20px;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
}
.dropdown-menu {
    position: absolute;
    /* border: 2px solid red; */
    width: 480px;
    background-color: white;
    left: -40px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    z-index: 4;
}


.first-row {
    display: grid;
    grid-template-columns: 2.7fr 2.4fr;
    gap: 3.5em;
}

.second-row {
    display: grid;
    grid-template-columns: 2.7fr 2.4fr;
    gap: 3.5em;
}

.third-row {
    display: grid;
    grid-template-columns: 2.7fr 2.4fr;
    gap: 3.5em;
}

.child {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 2px;
}

.child:hover {
    background-color: #F8FBFB;
}
 
.child .top {
    font-weight: 500;
    color: black;
}

.child .below {
    font-size: 0.9em;
}

.fa-bars {
    font-size: 1.4em;
    display: none;
}

@media(max-width:1060px) {
    header {
        padding: 20px 0px 20px 0px;
    }
}
@media(max-width:994px) {
    .fa-bars{
        display: block;
    }

    .left-side ul{
        display: none;
    }

    .right-side a {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    header {
        padding: 20px 20px 20px 20px
    }
}

.hero-container {
    padding-top: 70px;
}

.hero-wrapper {
    padding: 0px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 50%;
    flex-wrap: wrap;
}

.hero-left h1 {
    color: #122231;
    font-size: 2.5em;
    padding: 10px 0px 20px 0px;
}

.hero-left p {
    font-size: 1.2em;
    color: #122231;
    padding: 0px 0px 30px 0px;
}

.hero-left .cta {
    display: flex;
    gap: 1em;
}

.hero-left .system {
    background-color: #122231;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    transition: transform 1s ease-in-out;
}

.system:hover {
    background-color: black;
    transform: translateY(-10px);
}

.cute {
    background-color: #0089FF;  
    display: flex;
    align-items: center;
    color: white;
    font-size: 1em;
    gap: 0.5em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
}

.cute i {
    transform: rotateY(-110deg);
    transition: all 0.2s;
}

.cute img {
    animation-name: rollingStone;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rollingStone {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cute:hover i {
    transform: rotateY(0);
}

.hero-right {
    animation-name: upDown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} 

@keyframes upDown {
    0% {
      transform: translateY(-15px);  
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}

/* .young {
    position: absolute;
}

.young1 {
    top: 60px;
    left: -60px;
}

.young2 {
    top: 35px;
    right: -60px;
}

.young3 {
    top: 220px;
    left: -60px;
}

.young4 {
    top: 266px;
    right: -60px;
}

.young5 {
    top: 370px;
    left: -60px;
}

.young6 {
    top: 460px;
    right: -60px;
} */

@media(max-width:1240px) {
    .hero-container {
        padding-top: 60px;
        /* text-align: center; */
    }

    .hero-wrapper {
        padding: 0px 50px 0px 50px;
    }

    .hero-left {
        width: 100%;
    }

    .hero-left h1 {
        width: 100%;
    }

    .hero-left p {
        width: 100%;
    }

}

@media(max-width:1024px) {
     .hero-container {
        padding-top: 60px;
        /* text-align: center; */
    }

    .hero-wrapper {
        flex-direction: column;
        gap: 4em;
        padding: 10px;
    }

    .hero-left {
        width: 100%;
        text-align: center;
    }

    .hero-left h1 {
        width: 100%;
    }

    .hero-left p {
        width: 100%;
    }

    .cta {
         display: flex;
         justify-content: center;
    }

    .large {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* IMAGE-QUERY */
@media(max-width:512px) {
    .hero-right img{
        width: 450px;
    }   
}

@media(max-width:458px) {
    .hero-right img {
        width: 400px;
    }
}

@media(max-width:404px) {
    .hero-right img {
        width: 350px;
    }
}

@media(max-width:359px) {
    .hero-right img {
        width: 310px;
    }
}
/* IMAGE-QUERY-END */


@media(max-width:419px) {
    .hero-left h1 {
        font-size: 2.5em;
    }

    .hero-left p {
        font-size: 1em;
    }
}

@media(max-width:396px) {
    .hero-left .system {
        font-size: 0.8em;
    }
}

@media(max-width:364px) {
    .hero-left h1 {
        font-size: 2em;
    }

    .hero-left .cta {
        gap: 0.5em;
    }
}

.alert {
    width: 81%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 1.5em;
    /* border: 2px solid red; */
}

.alert .detail{
    margin: 20px 0px 20px 0px;
    color: #3D4F60;
}

.measures {
    display: flex;
    align-items: center;
}

@media(max-width:1024px) {
    .alert {
        flex-direction: column;
        text-align: center;
    }   
}

.savings-container {
    margin-top: 130px;
    padding-bottom: 100px;
}

.head {
    text-align: center;
    color: #122231;
}

.head h1 {
    font-size: 2.5em;
    padding: 10px 0px 15px 0px;
}

.head p {
    font-size: 1.5em;
    padding: 10px 0px 60px 0px;
}

.grid {
    /* border: 2px solid blue; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.grid .row-one {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    gap: 2em;
    /* border: 2px solid green; */
    padding: 0px 40px 0px 40px;
}   

.grid .row-two {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    gap: 2em;
    /* border: 2px solid green; */
    padding: 0px 40px 0px 40px;
}

.grid .row-three {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    gap: 2em;
    /* border: 2px solid green; */
    padding: 0px 40px 0px 40px;
}

.grid h1 {
    padding: 0px 0px 15px 0px;
}

.grid .build {
    color: #3D4E5F;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 100;
}

.alone {
    /* border: 2px solid purple; */
    display: flex;
    align-items: center;
}

.automated {
    /* border: 2px solid red; */
    padding: 50px 0px 10px 30px;
    background-color: white;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
    border-radius: 10px;
    /* width: 300px; */
}

.automated h1 {
    color: #003399;
    font-size: 2.5em;

}
.automated .special {
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: transform 0.5s ease;
    transform: translate(280px, 240px);
}

.automated:hover {
    background-color: #0F60D6;
    color: white;
}

.automated:hover h1{
    color: white;
}

.automated:hover p{
    color: white;
}

.automated:hover img{
    transform: translate(0,0);
}

.automated .build {
    max-width: 60%;
    padding-bottom: 10px;
}

.automated .alone {
    margin-top: 210px;
    margin-bottom: 20px;
}

.automated .alone p {
    color: #003399;
}

.fixed {
    /* border: 2px solid red; */
    padding: 50px 20px 10px 30px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.fixed h1 {
    color: #3296ff;
    font-size: 2.5em;
}

.fixed .build {
    /* border: 2px solid green; */
    max-width: 67%;
}

.fixed .fixedimage {
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: transform 0.5s ease;
    transform: translate(280px, 240px);
}

.fixed:hover {
    background-color: #2295F2;
    color: white;
}

.fixed:hover h1{
    color: white;
}

.fixed:hover p{
    color: white;
}

.fixed:hover img{
    transform: translate(0,0);
}

.fixed:hover .alone p {
    color: white;
}

.fixed .alone {
    margin-top: 195px;
}

.fixed .alone p {
    color: #3296ff;
}

.goal {
    /* border: 2px solid red; */
    padding: 50px 20px 10px 30px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.goal .goalimage {
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: transform 0.5s ease;
    transform: translate(280px, 240px);
}

.goal h1 {
    color: #069b40;
    font-size: 2.5em;
}

.goal .build {
    /* border: 2px solid green; */
    max-width: 69%;
}

.goal .alone {
    margin-top: 210px;
    margin-bottom: 15px;
}

.goal .alone p {
    color: #069b40;
}

.goal:hover {
    background-color: #39C277;
    color: white;
}

.goal:hover h1{
    color: white;
}

.goal:hover p{
    color: white;
}

.goal:hover .alone p {
    color: white;
}

.goal:hover img{
    transform: translate(0,0);
}

.flex-naira {
    /* border: 2px solid red; */
    padding: 40px 20px 10px 30px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.flex-naira .nairaimage {
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: transform 0.5s ease;
    transform: translate(280px, 240px);
}

.flex-naira h1 {
    color: #e5288e;
    font-size: 2.5em;
}

.flex-naira .build {
    /* border: 2px solid green; */
    max-width: 65%;
    margin-bottom: 220px;
}

.flex-naira .alone p {
    color: #e5288e;
}

.flex-naira:hover {
    background-color: #E5489B;
    color: white;
}

.flex-naira:hover h1{
    color: white;
}

.flex-naira:hover p{
    color: white;
}

.flex-naira:hover img{
    transform: translate(0,0);
}


.flex-dollar {
    /* border: 2px solid red; */
    padding: 50px 20px 10px 30px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.flex-dollar .dollarimage {
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: transform 0.5s ease;
    transform: translate(280px, 240px);
}

.flex-dollar h1 {
    color: #0c1825;
    font-size: 2.5em;
}

.flex-dollar .build {
    /* border: 2px solid green; */
    max-width: 70%;
}

.flex-dollar .alone {
    margin-top: 250px;
}

.flex-dollar .alone p {
    color: #0c1825;
}

.flex-dollar:hover {
    background-color: #0C1825;
    color: white;
}

.flex-dollar:hover h1{
    color: white;
}

.flex-dollar:hover p{
    color: white;
}

.flex-dollar:hover img{
    transform: translate(0,0);
}

.housemoney {
    /* border: 2px solid red; */
    padding: 40px 20px 10px 30px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.housemoney .houseimage {
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: transform 0.5s ease;
    transform: translate(280px, 240px);
}

.housemoney h1 {
    color: #ff783c;
    font-size: 2.5em;
}

.housemoney .build {
    /* border: 2px solid green; */
    max-width: 70%;
}

.housemoney .alone {
    margin-top: 260px;
}

.housemoney .alone p {
    color: #ff783c;
}

.housemoney:hover {
    background-color: #FF783C;
    color: white;
}

.housemoney:hover h1{
    color: white;
}

.housemoney:hover p{
    color: white;
}

.housemoney:hover img{
    transform: translate(0,0);
}

@media(max-width:1046px) {
    .grid .row-one {
        width: 100%;
        /* border: 2px solid red; */
        padding: 0px 190px 0px 190px;
        gap: 1em;
    }

    .grid .row-two {
        /* border: 2px solid red; */
        padding: 0px 190px 0px 190px;
        gap: 1em;
    }

    .grid .row-three {
        /* border: 2px solid red; */
        padding: 0px 190px 0px 190px;
        gap: 1em;
    }
}

@media(max-width:1025px) {
    .grid .row-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        /* border: 2px solid green; */
        padding: 0px 40px 0px 40px;
    }   

    .grid .row-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        /* border: 2px solid green; */
        padding: 0px 40px 0px 40px;
    }

    .grid .row-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        /* border: 2px solid green; */
        padding: 0px 40px 0px 40px;
    }

    .automated {
        width: 500px;
    }

    .fixed {
        width: 500px;
    }

    .goal {
        width: 500px;
    }

    .flex-naira {
        width: 500px;
    }

    .flex-dollar {
        width: 500px;
    }

    .housemoney {
        width: 500px;
    }
}

@media(max-width:513px) {
    .grid h1 {
        font-size: 2em;
    }

    .grid .build {
        max-width: 100%;
    }

    .grid .image {
        width: 200px;
    }

    .automated {
        text-align: center;
        width: 400px;
    }

    .fixed {
        text-align: center;
        width: 400px;
    }

    .goal {
        text-align: center;
        width: 400px;
    }

    .flex-naira {
        text-align: center;
        width: 400px;
    }

    .flex-dollar {
        text-align: center;
        width: 400px;
    }

    .housemoney {
        text-align: center;
        width: 400px;
    }
}

@media(max-width:405px) {
    .grid h1 {
        font-size: 1.7em;
    }

    .grid .build {
        font-size: 1em;
        max-width: 100%;
    }

    .automated {
        text-align: center;
        width: 350px;
        padding-left: 10px;
    }

    .automated .alone {
        margin-top: 150px;
    }

    .automated .alone p {
        font-size: 0.8em;
    }

    .alone img {
        width: 20px;
    }

    .fixed {
        text-align: center;
        width: 350px;
    }

    .fixed .alone {
        margin-top: 190px;
    }

    .fixed .alone p {
        font-size: 0.8em;
    }

    .alone img {
        width: 20px;
    }

    .goal {
        text-align: center;
        width: 350px;
    }

    .goal .alone {
        margin-top: 150px;
    }

    .goal .alone p {
        font-size: 0.8em;
    }

    .alone img {
        width: 20px;
    
    } 

    .flex-naira {
        text-align: center;
        width: 350px;
    }

    .flex-dollar {
        text-align: center;
        width: 350px;
    }

    .housemoney {
        text-align: center;
        width: 350px;
    }   
}